<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit List</title>
</head>
<body>
{{#restaurant}}
<form action="/edit-restaurant" method="post">
    <input type="text" value="{{name}}" name="name" placeholder="New Name"/>
    <input type="text" value="{{location}}" name="location" placeholder="New Location"/>
    <select name="rating">
        <option value="{{rating}}">{{rating}}</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="text" value="{{comment}}" name="comment" placeholder="New Comment"/>
    <input type="hidden" name="id" value="{{id}}"/>
    <button type="submit">Update Item</button>
</form>
{{/restaurant}}
</body>
</html>